.picture__circle {
  border-radius: 20%;
}

.button__login {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.button__login:hover {
  opacity: 0.7;
}

/* in <PreviewImages /> */
.image__container {
  position: relative;
}

.image__background {
  display: inline-block;
}

.image__edit {
  position: absolute;
  left: 19px;
  color: #fff;
  padding: 1px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  font-size: 0.8rem;
}

.image__edit:hover {
  opacity: 0.7;
}

/* in <TweetCard /> */
.retweet__sign {
  opacity: 0.5;
  font-size: 0.9em;
}

.baseHeader {
  position: relative;
}

.searchResults {
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 5;
  width: 245px;
  background-color: #e9ebeca4;
  border-radius: 5%;
}

/* 이미지 */
.slick-dots li button::before {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: #fff;
  opacity: 1;
}
